body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background-color: #575757;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.btn-a {
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}
.btn:hover {
    background-color: #45a049;
}